body {
    background: linear-gradient(to top, #292036, #000000); /* Degradado de morado de abajo hacia arriba */
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}